language: node_js

notifications:
  email: false
  
node_js:
- "16.13.2"

install:
- npm install newman

before_script:
- node --version
- npm --version
- node_modules/.bin/newman --version

script:
- node_modules/.bin/newman run postman/collections/Reviews_af9d180b-d4f0-4007-a5e0-0d5fca9328d8.json -e postman/environments/product_reviews_mock_env.json
